<footer class="footer">
    <div class="footer_up">
      <a href="#" title="Scroll up">
        <i class="fas fa-arrow-up"></i>
      </a>
    </div>
    <div class="footer__container">
      <nav class="footer__container--nav">
        <ul>
          <li>
              <a href="https://adalab.es/" title="Go to Articles">Articles</a>
            </li>
            <li>
              <a href="https://adalab.es/" title="Go to Books">Books</a>
            </li>
            <li>
              <a href="https://adalab.es/" title="Go to Events">Events</a>
            </li>
            <li>
              <a href="https://adalab.es/" title="Go to Reasons">Reasons</a>
            </li>
            <li>
              <a href="https://adalab.es/" title="Go to Tips">Tips</a>
            </li>
      </ul>
      </nav>
      <nav class="footer__container--socialmedia">
        <ul>
          <li>
            <a href="https://adalab.es/" title="Visit our Twitter">Twitter</a>
          </li>
          <li>
            <a href="https://adalab.es/" title="Visit our Instagram">Instagram</a>
          </li>
          <li>
            <a href="https://adalab.es/" title="Visit our Mastodon">Mastodon.social</a>
          </li>
        </ul>
      </nav>
      <small class="footer__container--copy">
        <span>©2021</span>
        <span>we <i class="fas fa-heart"></i> components </span>
      </small>
    </div>
  </footer>
</body>
</html>