<footer class="footer">
    <div class="footer__up">
      <a class="footer__up--link" href="#" title="Ir arriba">
        <img class="footer__up--arrow"
        src="./assets/images/ico-arrow.svg"/>
      </a>
    </div>
    <div class="footer__container">
      <nav class="footer__container--nav">
        <ul>
          <li>
              <a class="footer_nav_link" href="https://adalab.es/" title="Go to Articles">Articles</a>
            </li>
            <li>
              <a class="footer_nav_link"href="https://adalab.es/" title="Go to Books">Books</a>
            </li>
            <li>
              <a class="footer_nav_link"href="https://adalab.es/" title="Go to Events">Events</a>
            </li>
            <li>
              <a class="footer_nav_link" href="https://adalab.es/" title="Go to Reasons">Reasons</a>
            </li>
            <li>
              <a class="footer_nav_link" href="https://adalab.es/" title="Go to Tips">Tips</a>
            </li>
      </ul>
      </nav>
      <nav class="footer__container--socialmedia">
        <ul>
          <li>
            <a class="footer_sm_link"  href="https://adalab.es/" title="Visit our Twitter">Twitter</a>
          </li>
          <li>
            <a class="footer_sm_link"  href="https://adalab.es/" title="Visit our Instagram">Instagram</a>
          </li>
          <li>
            <a class="footer_sm_link"  href="https://adalab.es/" title="Visit our Mastodon">Mastodon.social</a>
          </li>
        </ul>
      </nav>
      <small class="footer__container--small">
        <span class="copy">©2021</span>
        <span class="copy">we <i class="fas fa-heart"></i> components </span>
      </small>
    </div>
</footer>
