<main class="main">
    <!-- Hero -->
    <div class="hero">
      <h1 class="hero__title">
        <span class="hero__title--item">Anonymous</span>
        <span class="hero__title--item">proxy</span>
      </h1>
      <p class="hero__subtitle">In hac habitasse platea dictumst</p>
      <div class="hero__button">
        <a href="#bottom" title="Ir abajo" alt="Ir abajo">
          <img src="./assets/images/ico-scroll-down.svg" class="arrow" />
        </a>
      </div>
    </div>
    <!-- Section1 -->
    <section class="section1">
      <small class="section1__insomnia">Insomnia tips</small>
      <h2 class="section1__title">Looking through a window</h2>
      <p class="section1__paragraph">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolores, ullam modi! Deserunt magnam reprehenderit culpa quia, nisi voluptatibus provident.</p>
      <div class="section1__button">
        <a class="go" href="#" title="Read more">Go</a>
      </div>
    </section>
    <!-- Section2 -->
    <section class="section2" id="bottom">
      <h2 class="section2__title">3 reasons tu purchase</h2>
      <include 
      src="./articles.html"
      subtitle="Minus quidem"
      text="Lorem ipsum dolor sit amet consectetur.">
      </include>
      <include 
      src="./articles.html"
      subtitle="Dicta temporibus"
      text="sed excepturi ut libero eaque maxime.">
      </include>
      <include 
      src="./articles.html"
      subtitle="Eum dolore"
      text=" Enim dolor incidunt ab quam laboriosam.">
      </include>
      <div class="section2__button">
        <a class="more_reasons"href="#" title="Leer más">More reasons</a>
      </div>
    </section>
  </main>