// fonts
$font-main: "Roboto", sans-serif;
$font-titles: "Roboto Slab", serif;
// $font-size:

// colours
$color-light: #ffffff;
$color-dark-font: #0000;
$color-small: #8ccbea;
$color-buttons: #f26002;
$color-background-medium: #0271bc;
$color-background-dark: #304268;
$color-background-light: #eff9ff;

// mediaquery breakpoint

$tablet: 768px;
$desktop: 1280px;
