.footer {
  background-color: $color-background-dark;
  width: 100vw;
  &__up {
    position: relative;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    background-color: $color-light;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    &--link {
      padding: 16px 10px 6px;
    }

    &--arrow {
      width: 20.6px;
      height: 24px;
      margin-top: 10px;
      //   padding: 30px 10px 10px 12px;
    }
  }
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 30px 0 45px;
    @include tablet {
      padding: 30px 0px 45px 0;
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-evenly;
      align-items: flex-start;
      text-align: left;
    }
    @include desktop {
      margin: 0 370px;
      // justify-content: center;
    }

    &--nav {
      .footer_nav_link {
        font-family: $font-main;
        line-height: 1.88;
        color: $color-light;
        text-transform: uppercase;
      }
    }
    &--socialmedia {
      padding: 30px 0 30px;
      @include tablet {
        padding: 0;
        order: -1;
      }
      .footer_sm_link {
        font-family: $font-main;
        line-height: 1.88;
        color: $color-light;
        text-transform: uppercase;
      }
    }
    &--small {
      font-size: 0.875rem;
      color: $color-light;
      .copy {
        height: 30px;

        font-family: $font-main;
        display: block;
        font-size: 0.875;

        .fa-heart {
          color: $color-buttons;
        }
      }
    }
  }
}
