// Section1
.section1 {
  padding: 30px 15px 45px 15px;

  @include tablet {
    padding: 30px 39px 60px 39px;
  }
  @include desktop {
    padding: 60px 275px;
  }

  &__insomnia {
    margin-bottom: 1px;
    font-size: 0.875rem;
    color: $color-small;
    font-family: $font-main;
    text-transform: capitalize;

    @include desktop {
      font-size: 1rem;
    }
  }

  &__title {
    @include title;

    @include tablet {
      font-size: 1.625rem;
    }
    @include desktop {
      font-size: 2rem;
    }
  }
  &__paragraph {
    color: $color-medium-font;
    font-family: $font-main;
    font-size: 1.125rem;
    margin-top: 15px;
    margin-bottom: 30px;
    line-height: 1.67;
    text-align: justify;
    @include tablet {
      font-size: 1.25rem;
      line-height: 1.5;
    }
  }
  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 2px $color-buttons;
    border-radius: 1.406rem;
    width: 76px;
    height: 45px;

    @include tablet {
      width: 91px;
    }
    @include desktop {
      width: 160px;
    }
    .go {
      text-decoration: none;
      color: $color-buttons;
      font-family: $font-main;
      padding: 8px 20px;
      @include tablet {
        padding: 10px 30px;
      }
      @include desktop {
        padding: 10px 60px;
      }
    }
  }
}
