// Section2
.section2 {
  width: 100vw;
  background-color: $color-background-light;
  .grid_wrapper {
    display: grid;
    grid-template-columns: 70px 180px 70px;
    grid-template-rows: 30px 75px 138px 138px 138px 45px 60px;
    text-align: center;

    @include tablet {
      grid-template-columns: 40px 229.3px 229.3px 229.3px 40px;
      grid-template-rows: 30px 45px 217px 45px 60px;
    }
    @include desktop {
      margin: 0 85px;
      text-align: center;
      grid-template-columns: 85px 370px 370px 370px 85px;
      grid-template-rows: 60px 90px 217px 45px 60px;
    }
  }
  &__title {
    @include title {
      grid-column: span 3;
      grid-row: 2/3;
    }
    @include tablet {
      grid-row: 2/3;
      grid-column: span 5;
      font-size: 1.625rem;
    }
    @include desktop {
      font-size: 2rem;
    }
  }
  &__wrapper1 {
    grid-row: 3/4;
    grid-column: 2 / 3;
    @include tablet {
      grid-column: 2/3;
      grid-row: 3/4;
      padding-top: 40px;
    }
  }
  &__wrapper2 {
    grid-row: 4/5;
    grid-column: 2 / 3;
    @include tablet {
      grid-column: 3/4;
      grid-row: 3/4;
      padding-top: 40px;
    }
  }
  &__wrapper3 {
    grid-row: 5/6;
    grid-column: 2/3;
    @include tablet {
      grid-column: 4/5;
      grid-row: 3/4;
      padding-top: 40px;
    }
  }

  &__button {
    margin: auto;
    grid-row: 6/7;
    grid-column: 2/3;
    width: 184px;
    height: 45px;
    padding-top: 10px;
    border-radius: 1.406rem;
    background-color: $color-buttons;
    @include tablet {
      grid-row: 4/5;
      grid-column: 3/4;
    }
    .more_reasons {
      color: $color-light;
      text-decoration: none;
      font-family: $font-main;
      font-size: 1.25rem;
      @include tablet {
        width: 210px;
        height: 45px;
      }
      @include desktop {
        width: 255px;
        height: 45px;
      }
    }
  }
  .subtitle_reasons {
    @include subtitle;
    @include tablet {
      font-size: 1.5rem;
    }
  }
  .text_reasons {
    font-family: $font-main;
    font-size: 1.125rem;
    line-height: 1.67;
    color: $color-dark-font;
    @include tablet {
      font-size: 1.25rem;
      line-height: 1.5;
    }
  }
}
